/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* DEBUG */

/* .debug header{
    background-color: #FF6900;
    height: 50px;
} */

/* 
.debug .header-row{
    background-color: aquamarine;
    height: 50px;
} */

/* .debug .header-col-small{
    width: 25%;
    height: 50px;
    background-color: grey
} */

/* .debug .header-col-big{
    width: 50%;
    height: 50px;
    background-color: blueviolet;
} */

/* COMMON */

.container{
    width: 1000px;
    margin: auto;
}

.shop-image{
    display: block;
    width: 100%;
}

.brand-name{
    font-style: normal;
    font-size: 12px;
}

.article{
    font-size: 14px;
}

.special-price{
    display: inline;
    color: red;
}

.normal-price{
    display: inline;
    text-decoration: line-through;
}

.sale-amount{
    position: absolute;
    font-size: 12px;
    background-color: red;
    bottom: 20%;
    padding: 3px 3px;
    color: white;
}

.eco-friendly{
    position: absolute;
    bottom: 20%;
    left: 11%;
    font-size: 12px;
    padding: 3px 3px;
    background-color: green;
    color: white;
}

.eco-friendly-variant{
    position: absolute;
    bottom: 20%;
    left: 0%;
    font-size: 12px;
    padding: 3px 3px;
    background-color: green;
    color: white;
}

.wishlist{
    position: absolute;
    top: 5%;
    right: 0%;
    padding:0 5px;
    font-size: 25px;
    background-color: white;
    cursor: pointer;
}

/* HEADER */

header{
    background-color: #FF6900;
}

.header-row{
    display: flex;
}

.header-col-small-right{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 25%;
}

.header-col-small-left{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 25%;
}

.header-col-big{
    display: flex;
    align-items: center;
    width: 50%;
}

.header-link{
    padding-right: 10px;
    text-align: left;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.logo{
    width: 25%;
    margin-left: 38%;
    padding: 10px;
    cursor: pointer;
}

.header-icon{
    padding-left: 10px;
    cursor: pointer;
}

/* MAIN */

.row-main{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

.col-main{
    width: 32%;
    position: relative;
}

.section2{
    margin-top: -20px;
}

/* FOOTER */

footer{
    background-color: black; 
    margin-top: 15px; 
    padding-bottom: 15px;
}

.row-footer{
    display: flex;
    justify-content: space-between;
}

.company-name{
    color: white;
    padding-top: 15px;
    padding-bottom: 5px;
}

.infos{
    color: white;
    text-decoration: none;
    font-size: 10px;
    padding-right: 5px;
}

.footer-icons{
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding-right: 5px;
}
